:root{
  --pink:#f8afc3;
  --dark: #321316;
  --light:#ffffff;
  /* --green: #05c560; */
  --green: #00874e;
  --black: #101922;
  --grey: #afafaf;
  --lightgrey:#f4f4f4;
}

*{
  margin: 0;
  padding: 0;
}

body{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
  margin: 0px 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--lightgrey);
}

 .container{

  /* display: flex; */
  width: 95%;
  max-width: 375px;
  background-color: var(--pink);
  border-radius: 10px;
  max-height: 100%;
  height: 735px;
  border: 1px dashed var(--dark) ;
  transition: opacity 0.3s;
  opacity: 1;
} 

.slip{
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
 max-height: 100vh;
}

a{
  text-decoration: none;
}

p{
  font-weight: 300;
  font-size: .6rem;
  color: var(--dark);
  /* text-transform: uppercase; */
}

h1{
  font-weight: 700;
  font-size: 1rem;
  color: var(--dark);
  text-transform: uppercase;
 
}
h4{
  font-weight: 500;
  font-size: .8rem;
  /* text-transform: uppercase; */
  color: var(--light);
 
}

.top{
  display:flex ;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: .7px dashed #321316 ;
}

.top h1{
  font-weight: 800;
}

.info{
  text-align: right;
}

.expiry{
  text-align: right;
}

.text{
  line-height: 1rem;
  margin: .35rem 0;
}
.company{
  line-height: 1rem;
  border-bottom: .7px dashed #321316;


  padding: 9px 0;
}
.company h1{
  font-size: .9rem;
  font-weight: 800;
}

.company h4{
  font-size: .90rem;
  font-weight: 500;
  color: var(--dark);
}

.holder{
  line-height: 1.2rem;
}

.insurance-info p{
font-size: 2rem;
font-weight: 600;
}


.bottom{
  text-align: center;
margin: 12px 0;
display: flex;
gap: .5rem;
justify-content: center;
}

 button{
  margin: 8px 0;
  color: var(--dark);
  font-weight: 500;
  font-size: 1rem;
  border: none;
  padding: 15.5px 25px;
  background-color: var(--light);
  border-radius: 4px;
  }


  .bottom p {
    text-align: center;
    font-size: .9rem;
    text-transform: none !important;
    font-weight: 400;
  }

 .bottom-cta{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0px;
 }

 .bottom-cta i{
  font-size: 1rem;
  margin-right: 3px;
color:var(--dark);
 }

 .qr-code img{
  border-radius: 3px;
 }

footer p{
  font-size: .8rem;
  font-weight: 400;
  text-transform: none !important;

}

.wallet button{
  border-radius: 8px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

.wallet i{
  padding-right: .4rem;
}


.faq{
  color: var(--black);
  background-color: var(--light);
  border-radius: 8px;
  width: 95%;
  max-width: 375px;
  margin: 12px;
  /* position: sticky;
  top: 12px; */
}

.faq-container{
  padding: 12px;
  display: flex;
  align-items: center;
  gap: .55rem;
}

.faq p{
  color: var(--grey);
  font-size: .75rem;
  font-weight: 400;
}

.faq i{
  display: inline;
  padding: 8px;
  background-color: var(--lightgrey);
  width: 20px;
  height: 20px;
  border-radius: 50%;

}

.wallet i{
  font-size: 1rem;
}



.popup-container{
  z-index: 999;
  background-color: red;
  top: 1.5rem;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
background-color: var(--light);
box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.popup{
  top: 1.5rem;
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  justify-items: center;
  transition: opacity 3ms;
  /* background-color: red; */

}

.popup-container button{
  color: var(--light);
 display: block;
  background-color: var(--green);
  width: 100%;
}


.popup-container p{
  text-align: center;
 font-size: .9rem !important;
 font-weight: 400;
 font-size: 1.2rem; 
 color: var(--black);

}



.popup-container h2{
  color: var(--black);
 font-size: .65rem; 
 font-weight: 400;
 color: var(--grey);
}

.popup-container h6{
  color: var(--black);
 font-size: .65rem; 
 font-weight: 100;
}

.popup-container p{
  color: var(--black);
 font-size: .80rem;
 position: relative;
}

.agent{
  border-bottom: dashed 1px #101922;
 padding-bottom: 12px;
 text-align: center;
 margin: 1rem 0;
}

.agent h2{
  color: var(--black);
  font-weight: 500;
  font-size: .75rem; 
}

.services h1{
  font-size: .90rem;
  font-weight: 400;
}


.services{
  border-top: dashed 1px #101922;
  opacity: .4;
  flex-direction: column;
  display: inline-flex;
  gap: 12px;
  padding-top: 12px;
  
}

.services i {
  margin-right: 12px;
}

.services p {
  margin-right: 12px;
  text-align: left;
}

.services a {
  text-align: center;
  color: var(--green);
}

#close{
    color: var(--light);
    background-color: var(--green);
    /* padding: 22px 0px; */
    border: none;
    font-size: .9rem;
}

.popup button{
  color: var(--black);
  background-color: transparent;
  border: 1px solid #101922;
}



.powered-by{
  opacity: .4;
  margin: 12px;
  display: flex;
  justify-content: center;
}

#notification{
  display: block;
}

#popup-notification{
  display: block;
  transition: opacity 1s;
}

.popup .header-logo{
 display: inline-flex;
 margin: 3px auto;

}


.popup-image{
  display: flex;
  justify-content: center;
  margin: .5rem;
}

.copyright{
  text-align: center;
}

.ri-close-line{
  position: absolute;
  right: -12px;
  top: -12px;
  margin: 5px;
  background-color: red;
  font-size: 1.5rem;
  border-radius: 50%;
  color: var(--light);
  padding: .55rem;
}


.install-modal{
  padding: 1rem .75rem;
  position: fixed;
  background-color: var(--light);
  top: 0;
  right: .5rem;
  width: 200px;
  z-index: 0; 
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.install-modal .item{
  display: flex;
  color: var(--black);
  margin: .5rem 0;
  align-items: center;
}

.install-modal h4{
  color: var(--green);
  font-weight: 800;
  font-size: 1rem;

}

.install-modal p{
  color: var(--black);
  font-weight: 400;
  font-size: 1rem;
}


.install-modal i{
  color: var(--light);
  background-color: var(--green);
  border-radius: 50%;
  margin-left: 5px;
  padding: 3px;
}

.install-modal .arrow{
  display: flex;
  justify-content: flex-end;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  color: var(--green);
  animation: bounce2 2s ease infinite;
}

.items{
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: .75rem;
}
.items h1{
  font-weight: 600;
  font-size: .95rem;
  text-transform: none;
  color: var(--green);
}

.items p{
  text-align: start;
  font-size: .75rem !important;
  text-transform: none;
}

.item{
  line-height: 1rem;
}

.home-faq{
  z-index: 999;
}


#install-modal{
  transition: opacity 3ms;
}

@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}



@media (min-width: 520px) {
  body {
    background-color: #f2fbff;
    
  }

  .install-modal{
    display: none;
    opacity: 0;
  }
}


  



